# Frontend
# replace with recaptcha site key if you want to enable reCAPTCHA (optional)
VITE_RECAPTCHA_SITE_KEY=your-recaptcha-site-key

# Backend
POSTGRES_USER=pasteit
POSTGRES_PASSWORD=pasteitpassword
POSTGRES_DB=pasteit
POSTGRES_HOST=pasteit-db

DB_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/${POSTGRES_DB}"

# openssl rand -hex 32
PASTE_ENCRYPTION_KEY=your-paste-encryption-key

# replace with recaptcha secret key if you want to enable reCAPTCHA (optional)
RECAPTCHA_SECRET_KEY=your-recaptcha-secret-key
